DB_URL=jdbc:mysql://localhost:3306/theseusoft?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=your_mysql_password
JWT_SECRET=replace_with_a_base64_secret_of_at_least_32_bytes
CORS_ALLOWED_ORIGIN=http://localhost:5173
